$primary-pink:#FF69B4 ;
$primary-black: #323232;
$primary-white: #FFFFFF;

.p_project{
    text-align:center;
	 padding: 300px 0;
	background-color:$primary-pink;
	background-size: cover;
  	background-attachment: fixed;
  	transition: all 0.2s ease;

}
.p_about{
	 padding: 300px 0;
	background-image:url(https://yuehuapainting.files.wordpress.com/2012/06/peonies.jpg);
  	background-size: cover;
  	background-attachment: fixed;
  	transition: all 0.2s ease;
}
.p_contact{
	 padding: 300px 0;
	text-align:center;
 	 background-size: cover;
  	background-attachment: fixed;
  	transition: all 0.2s ease;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  filter: alpha(opacity=60); 
}