@import 'parallax';

$font-standard: 'EB Garamond', serif;
$fancy-font:'Satisfy', cursive;
$primary-pink: #FF69B4 ;
$primary-black: #323232;
$primary-white: #FFFFFF;

body {
  font: 100% $font-standard;
 
}
.logo{
	margin-top:90px;
	font-size: 300%;
	font-family: $fancy-font;
	text-align:center;
	 color: $primary-pink;
}

.heading{
	margin-top:-90px;
	font-size: 300%;
	font-family: $fancy-font;
	text-align:center;
}

nav{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:black;
	 color: $primary-pink;
}
.bigfont{
font-size: 200%;
}
.project{
	height:300px;
	 width:350px;
}
ul{
color :$primary-pink;
display:inline-block;
padding:7px 8px;
text-align:center;
}
.headshot{
	height:500px;
	width:350px;

}